<p>form works!</p>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input (ngModel)="model.fname" (ngModelChange)="model.fname = $event" name="fname" placeholder="Placeholder" id="first_name" type="text" class="validate">
                <label for="first_name">First Name : {{model.fname}}</label>
            </div>
            <div class="input-field col s6">
                <input (ngModel)="model.lname" (ngModelChange)="model.lname = $event" name="lname" id="last_name" type="text" class="validate">
                <label for="last_name">Last Name : {{model.lname}}</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled value="I am not editable" id="disabled" type="text" class="validate">
                <label for="disabled">Disabled</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input (ngModel)="model.password" (ngModelChange)="model.password = $event" name="password" id="password" type="password" class="validate">
                <label for="password">Password : {{model.password}}</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                This is an inline input field:
                <div class="input-field inline">
                    <input id="email2" type="email" class="validate">
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="input-field col s12">
        <select (ngModel)="model.check" (ngModelChange)="model.check = $event" name="check">
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>Materialize Select : {{model.check}}</label>
    </div>
    <div class="input-field col s12">
        <select multiple>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>Materialize Multiple Select</label>
    </div>
    <div class="input-field col s12">
        <select>
          <optgroup label="team 1">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            </optgroup>
            <optgroup label="team 2">
            <option value="3">Option 3</option>
            <option value="4">Option 4</option>
          </optgroup>
        </select>
        <label>Optgroups</label>
    </div>
    <div class="input-field col s12 m6">
        <select class="icons">
          <option value="" disabled selected>Choose your option</option>
          <option value="" data-icon="../../app-assets/images/avatar/avatar-7.png" class="circle">example 1</option>
          <option value="" data-icon="../../app-assets/images/avatar/avatar-5.png" class="circle">example 2</option>
          <option value="" data-icon="../../app-assets/images/avatar/avatar-3.png" class="circle">example 3</option>
        </select>
        <label>Images in select</label>
    </div>
    <div class="input-field col s12 m6">
        <select class="icons">
          <option value="" disabled selected>Choose your option</option>
          <option value="" data-icon="../../app-assets/images/avatar/avatar-7.png" class="left circle">example 1</option>
          <option value="" data-icon="../../app-assets/images/avatar/avatar-5.png" class="left circle">example 2</option>
          <option value="" data-icon="../../app-assets/images/avatar/avatar-3.png" class="left circle">example 3</option>
        </select>
        <label>Images in select</label>
    </div>
    <label>Browser Select</label>
    <select class="browser-default">
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
</div>