<h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down"><span>สวัสดิการอาสา</span></h5>
<ol class="breadcrumbs mb-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">เมนูหลัก</a>
    </li>
    <li class="breadcrumb-item active">สวัสดิการอาสา
    </li>
</ol>
<br>
<br>
<!-- {{paginationModel.totalItems}} -->
<app-welfare-criteria [paginationModel]="paginationModel" (messageToEmit)="getMessageCriteria($event)"></app-welfare-criteria>
<app-welfare-list [paginationModel]="paginationModel" [messageInput]="listModel" (messageToEmit)="getMessageList($event)"></app-welfare-list>
